div.p-2 img {
    width: 100pt;
}

.p-2 {
    background-color: rgb(228, 226, 225);
    margin: 5pt 180pt;
    border-radius: 5pt;
    padding: 15pt 0pt;
}

h6, p {
  padding: 0pt 15pt;
}

em a {
  text-decoration: none;
  font-weight: bold;
}

@media print {
  em {
    display: none;
  }
}

@media (max-width: 1200px) {
  .p-2 {
    margin: 5pt 90pt;
  }
}

@media (max-width: 600px) {
  .p-2 {
    margin: 5pt 5pt;
  }
}